# Ignora a pasta de dados do MySQL gerada por volume do Docker
data/

# Ignora arquivos temporários de sistema
.DS_Store
Thumbs.db

# Ignora arquivos de log
*.log

# Ignora arquivos do PHP Composer que não precisam ser versionados
/vendor/
/composer.lock

# Ignora configurações locais de IDEs
.vscode/
.idea/

# Ignora arquivos do Docker que não sejam versionáveis
*.pid
*.sock
